<div>Filter:
  <input id="input" type="text" (keyup)="onFilterKeyDown($event)" value=""/>
</div>

<table>
  <thead>
    <th>Name</th>
    <th>Price</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let product of inventory$ | async">
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td><button (click)="order(product)">Order</button></td>
    </tr>
  </tbody>
</table>

<h3>Delivery tracking:</h3>
<table>
<thead>
  <th>Name</th>
  <th>Status</th>
</thead>
<tbody>
  <tr *ngFor="let trackedOrder of trackedOrders">
    <td>{{trackedOrder.product.name}}</td>
    <td>{{trackedOrder.state}}</td>
  </tr>
</tbody>
</table>